.label{
    -fx-text-fill :  #536162;
    -fx-font-family : "Bodoni MT";
    -fx-font-size : 16px;
}

.button{
    -fx-font-family : "Bodoni MT";
    -fx-font-size : 16px;
    -fx-background-color :  #536162;
    -fx-text-fill :  F3F4ED;
}

.button:hover{
    -fx-background-color : F3F4ED;
    -fx-text-fill : #536162;
    -fx-border-color : #536162;
}